<h1>Listing authors</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @view.authors.each do |author| %>
  <tr>
    <td><img src="<%= author[:img_src] %>" height="<%= IMG_SIZE %>"/></td>
    <td><%= link_to author[:name], author_path(author[:id]) %></td>
    <td><%= author[:quote] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Author', new_author_path %>
