<table>
  <thead></thead>
  <tbody>
<% @view.authors.each do |author| %>
    <tr>
      <td>
        <div align="right">
        <figure>
          <a class="" href="<%= author_path(author[:id]) %>">
            <img src="<%= author[:img_src] %>"/>
          </a>
        </figure>
        </div>
      </td>
      <td>
        <h3><%= link_to author[:name], author_path(author[:id]) %></h3>
        <blockquote>
          <p>
            <%= author[:quote] %>
          </p>
        </blockquote>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<br />
<%= link_to 'Add Author', new_author_path, :class => "btn" %>
