<ul class="thumbnails">
  <% @view.authors.each do |author| %>
    <li>
      <figure>
        <a class="thumbnail" href="<%= author_path(author[:id]) %>">
          <img src="<%= author[:img_src] %>"/>
        </a>
        <div class="caption">
          <div class="well">
            <p>
              <%= author[:quote] %> -- <%= link_to author[:name], author_path(author[:id]) %>
            </p>
          </div>
        </div>
      </figure>
    </li>
  <% end %>
<ul>
<br />
<%= link_to 'Add Author', new_author_path, :class => "btn" %>
