<p id="notice"><%= notice %></p>
<div class="author">
  <div class="author_image">
    <% if @view.author[:img_src] %>
      <img src="<%= @view.author[:img_src] %>" height="<%= IMG_SIZE %>"/>
    <% else %>
      <%= link_to "Add Image", edit_image_path(@view.author[:id]) %>
    <% end %>
  </div>
  <h1><%= @view.author[:name] %></h1>
</div>

<div class="quotes">
  <% @view.quotes.each do |quote| %>
  <div class="quote">
    <h3><%= quote[:text] %></h3>
    <%= form_tag(user_path(user_id), method: "put") do %>
      <%= hidden_field_tag("quote_id", quote[:id]) %>
      <%= submit_tag("like") %>
      <%= quote[:likes] %>
    <% end %>
    <%= form_tag(user_path(user_id), method: "put") do %>
      <%= hidden_field_tag("quote_id", quote[:id]) %>
      <%= submit_tag("dislike") %>
      <%= quote[:dislikes] %>
    <% end %>
    Created by <%= link_to quote[:user_name],
    user_path(quote[:user_id]) %>
  </div>
  <% end %>
</div>
<% if user_id %>
  <div class="add_quote">
    <h2>Add Quote</h2>
    <%= form_tag(author_path(@view.author[:id]), :method => "put") do %>
      <%= text_field_tag(:quote) %>
      <%= submit_tag("Add Quote") %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', authors_path %>
