<h1>Users</h1>

<% @view.users.each do |user| %>
  <a href="<%= user_path(user[:id]) %>">
  <figure>
    <img src="" alt="gravatar_img" />
  </figure>
  <h3><%= user[:name] %> -- <%= user[:score] %></h3>
  </a>
  <% if user[:quote] %>
  <p><%= user[:quote] %> -- <%= link_to user[:author], author_path(user[:author_id]) %></p>

  <% if user_id %>
  <%= form_tag(user_path(user_id), method: "put") do %>
    <%= hidden_field_tag("quote_id", user[:quote_id]) %>
    <%= submit_tag("+#{user[:likes]}", class: "btn btn-primary") %>
    <%= user[:likes] %>
  <% end %>
  <%= form_tag(user_path(user_id), method: "put") do %>
    <%= hidden_field_tag("quote_id", user[:quote_id]) %>
    <%= submit_tag("-#{user[:dislikes]}", class: "btn btn-danger") %>
    <%= user[:dislikes] %>
  <% end %>
  <% else %>
    <%= submit_tag("+#{user[:likes]}", class: "btn btn-primary disabled") %>
    <%= submit_tag("-#{user[:dislikes]}", class: "btn btn-danger disabled") %>
  <% end %>
  <% end %>
<% end %>
