<h1><%= @view.user[:name] %></h1>

<h2>Quotes Added</h2>

<div class="quotes">
  <table class="table">
  <thead><tr><td></td><td></td></tr></thead>
  <tbody>
  <% @view.quotes.each do |quote| %>
  <tr>
    <td>
      <div align="right">
      <a href="<%= author_path(quote[:author_id]) %>" class="">
        <img src="<%= quote[:author_img_src] %>" />
      </a>
      </div>
    </td>
    <td>
      <p><%= quote[:text] %> --
      <small>
          <%= link_to quote[:author_name], author_path(quote[:author_id]) %>
      </small>
      </p>

      <% if user_id %>
      <%= form_tag(user_path(user_id), method: "put", class: "form-horizontal") do %>
        <div class="control-group">
          <%= hidden_field_tag("quote_id", quote[:id]) %>
          <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary") %>
          <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger") %>
        </div>
      <% end %>
      <% else %>
        <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary disabled") %>
        <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger disabled") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<h2>Quotes Liked</h2>
<div class="quotes">
  <table class="table">
  <thead><tr><td></td><td></td></tr></thead>
  <tbody>
  <% @view.quotes.each do |quote| %>
  <tr>
    <td>
      <div align="right">
      <a href="<%= author_path(quote[:author_id]) %>" class="">
        <img src="<%= quote[:author_img_src] %>" />
      </a>
      </div>
    </td>
    <td>
      <p><%= quote[:text] %> --
      <small>
          <%= link_to quote[:author_name], author_path(quote[:author_id]) %>
      </small>
      </p>

      <% if user_id %>
      <%= form_tag(user_path(user_id), method: "put", class: "form-horizontal") do %>
        <div class="control-group">
          <%= hidden_field_tag("quote_id", quote[:id]) %>
          <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary") %>
          <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger") %>
        </div>
      <% end %>
      <% else %>
        <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary disabled") %>
        <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger disabled") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<h2>Quotes Disliked</h2>
<div class="quotes">
  <table class="table">
  <thead><tr><td></td><td></td></tr></thead>
  <tbody>
  <% @view.quotes.each do |quote| %>
  <tr>
    <td>
      <div align="right">
      <a href="<%= author_path(quote[:author_id]) %>" class="">
        <img src="<%= quote[:author_img_src] %>" />
      </a>
      </div>
    </td>
    <td>
      <p><%= quote[:text] %> --
      <small>
          <%= link_to quote[:author_name], author_path(quote[:author_id]) %>
      </small>
      </p>

      <% if user_id %>
      <%= form_tag(user_path(user_id), method: "put", class: "form-horizontal") do %>
        <div class="control-group">
          <%= hidden_field_tag("quote_id", quote[:id]) %>
          <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary") %>
          <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger") %>
        </div>
      <% end %>
      <% else %>
        <%= submit_tag("+#{quote[:likes]}", class: "btn btn-primary disabled") %>
        <%= submit_tag("-#{quote[:dislikes]}", class: "btn btn-danger disabled") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
